/* Import Font Files */
@font-face {
    font-family: JungleFever;
    src: url(../fonts/junglefe.ttf);
}

@font-face {
    font-family: InsaniStyle;
    src: url(../fonts/insaniquarium-inspired.ttf);
}

/* Container Styles */
body {
    text-align: center;
}

header {
    border: 1px solid black;
}

nav {
    border: 1px solid black;   
}

body {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
    position: absolute;
}

/* Text Styles */
h1 {
    font-family: JungleFever;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Interactive Styles */
button {
    font-family: JungleFever;
    margin: 10px;
    text-decoration: none;
    width: 100px;
}