/* Import Font Files */
@font-face {
    font-family: JungleFever;
    src: url(../fonts/junglefe.ttf);
    src: url(../fonts/junglefe.otf); /* Fallback */
}

@font-face {
    font-family: InsaniStyle;
    src: url(../fonts/insaniquarium-inspired.ttf);
}

/* Container Styles */
article {
    background-color: #deaf53;
    border-bottom: 2px solid #fcc600;
}

/* Article for website info on the Home page */
article.HomepageInfo {
    padding: 1px;
}

/* Articles for the current page's name */
article.PageName {
    padding: 1px;
}

article.PageName h2 {
    margin: 4px;
}

/* Article for the Novelty Hidden Fish */
#NoveltyHiddenFish {
    background: none;
    border: none;
}

body {
    background-attachment: fixed;
    background-image: url(../images/backgrounds/CirclePurpulse.png);
    background-position: center;
    color: white;
    cursor: url("../images/misc/cursor.png"), auto;
    text-align: center;
}

footer {
    background-color: #deaf53;
    border-top: 2px solid #fcc600;
    position: fixed;
        bottom: 0;
    width: 100%;
}

header {
    background-image: url(../images/backgrounds/Aquarium2.webp);
    background-position: center;
    background-size: 100%;
    padding: 1px;
}

nav {
    background-color: #deaf53;
    border-bottom: 2px solid #fcc600;
    border-top: 2px solid #fcc600;
}

/* Text Styles */
h1, h2, h3 {
    color: #fcc600;
    font-family: JungleFever;
    -webkit-text-stroke: 0.25px black;
}

/* Header to state the names of mods and tools */
h3.Name {
    margin-bottom: 5px;
    margin-top: 0px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/* Paragraphs to state the authors of mods and tools */
p.Author {
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Paragraphs to describe mods and tools */
p.Description {
    margin: 15px;
}

/* Interactive Styles */
a {
    cursor: url("../images/misc/pointer.png"), pointer;
}

button {
    background-color: #992fcE;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    cursor: url("../images/misc/pointer.png"), pointer;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 125px;
}
/* :active doesn't work without this - see screensize.css for why this is identical to the regular style */
button:hover {
    background-color: #992fcE;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 125px;
}
button:active {
    background-color: #1d5a9b;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 125px;
}

/* Buttons in the nav */
button.Nav {
    background-color: #511c7A;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 100px;
}
/* :active doesn't work without this - see screensize.css for why this is identical to the regular style */
button.Nav:hover {
    background-color: #511c7A;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 100px;
}
button.Nav:active {
    background-color: #beb300;
    border: 2px solid #fcc600;
    border-radius: 25px;
    color: #fced00;
    font-family: JungleFever;
    margin: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    width: 100px;
}

/* Style for the Modal Form */
#ModalForm {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
        top: 0%;
        left: 0%;
    width: 100%;
}

/* Other Styles */
/* Preview images for mods and tools */
img.Preview {
    border: 2px solid #fcc600;
    height: 120px;
    margin: 15px;
    width: 160px;
}