/* Styles for screens 640px or larger */
@media (min-width: 640px) {
    /* Container Styles */
    /* Article for website info on the Home page */
    article.HomepageInfo {
        border-left: 2px solid #fcc600;
        border-right: 2px solid #fcc600;
        margin: auto;
        max-width: 758px;
    }

    /* Articles for mods and tools */
    article.ModTool {
        border-left: 2px solid #fcc600;
        border-right: 2px solid #fcc600;
        display: inline-block;
        width: 373px;
    }

    /* Divs to keep a maximum of 3 mods or tools in a row */
    div.ModToolContainer {
        margin: auto;
        max-width: 1508px;
    }

    /* Interactive Styles */
    /* This style is not intended for mobile devices as :hover often looks weird */
    button:hover {
        background-color: #00c3fb;
        border: 2px solid #fcc600;
        border-radius: 25px;
        color: white;
        font-family: JungleFever;
        margin: 10px;
        padding: 3px;
        text-decoration: none;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        width: 125px;
    }
    /* Didn't expect it to be necessary, but having this only in defaultstyle.css prevents it from working when this @media block is active */
    button:active {
        background-color: #1d5a9b;
        border: 2px solid #fcc600;
        border-radius: 25px;
        color: #fced00;
        font-family: JungleFever;
        margin: 10px;
        padding: 3px;
        text-decoration: none;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        width: 125px;
    }

    /* This style is not intended for mobile devices as :hover often looks weird */
    button.Nav:hover {
        background-color: #fff000;
        border: 2px solid #fcc600;
        border-radius: 25px;
        color: #c5c5fc;
        font-family: JungleFever;
        margin: 10px;
        padding: 3px;
        text-decoration: none;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        width: 100px;
    }
    button.Nav:active {
        background-color: #beb300;
        border: 2px solid #fcc600;
        border-radius: 25px;
        color: #fced00;
        font-family: JungleFever;
        margin: 10px;
        padding: 3px;
        text-decoration: none;
        text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        width: 100px;
    }
}

/* Styles for screens smaller than 640px */
@media (max-width: 639px) {
    /* Interactive Styles */
    /* Buttons to download mods and tools */
    button.Download {
        display: none;
    }
}